body{
background-image: url("C:/Users/Byron Roberts/desktop/class/homework/triviagame/assets/images/clipart-football-field-background-18.jpg")
}
header{
text-emphasis: bold;
color:rgb(216, 225, 231);
text-align:center;
font-size: 50px;
font-style: oblique;
text-shadow: 2px 2px rgb(54, 73, 102);

}
.jumbotron{
text-align: center;
color:white;
background: #3b653d;
font-family:"Eraser";
border: 4px  solid rgb(80, 56, 28);
border-bottom: 10px solid rgb(80, 56, 28);
}
@font-face {
    font-family:"Eraser";
    src: url("../fonts/EraserDust.ttf") format("truetype"), 
     url("../fonts/EraserDust.ttf") format("truetype");
}
button{
    background-color:#3b653d;
    color: whitesmoke;
    outline-color: #3b653d;
    padding:8px;
    border:none;
    background:none;
}
button:hover{
    transform: scale(1.3);
    color: rgb(187, 187, 104);
    outline: none;
}